@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>


<table class="table">
    <tbody>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/anuradha-jain7/">Anuradha Jain</a>
            </td>
            <td>
                (813)-541-4209 | anuradhajain@mail.usf.edu | Tampa, Florida | 33647
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/rushikesh-maheshwari12/">Rushikesh Maheshwari</a>
            </td>
            <td>
                (813)-573-6781 | rmaheshwari@mail.usf.edu | Tampa, Florida | 33613
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/rashmi-chaudhari-790291155/">Rashmi Chaudhari</a>
            </td>
            <td>
                (786)-678-6813 | rc941228@gmail.com | Tampa, Florida | 33613
            </td>
        </tr>
    </tbody>
</table>