@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<body>

    <p>
        <a href="https://github.com/anuradhajain/BullFins">Github</a>
    </p>
    <p> </p>
    <p> </p>
    <p> </p>

</body>

<body>


    <p> Interested in stock trading? We are here for you !!! </p>
    <p>
        Our website contains the data of different companies, which can be helpfull for your stock trading process. There are some important factors
        to consider while trading for a stock. We have added these parameters in our website. Earnings per Share (EPS),
        Net Operating Cash Flow,
        Net Sales,totaldebt these things are very important to evaluate the company.
        If you click on the symbol of company,you will get the financial data of that company, which contains Report Date,
        Gross Profit,
        Total Revenue,
        Total Assets,
        Total Liabilities,
        Total Cash.
        Also, you can see chart data i.e. Volume,
        Open,
        High,
        Low,
        Close,
        Change if you click on the name of a company.
        We have included Stock guide page. It will give you the idea about important parameters to consider for stock trading.

    </p>

</body>

<body>


    <h1> Contact Us </h1>
    <p>   </p>
    <p>   </p>
    <p>   </p>
    <p>   </p>

</body>
<table class="table">
    <tbody>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/anuradha-jain7/">Anuradha Jain</a>
            </td>
            <td>
                (813)-541-4209 | anuradhajain@mail.usf.edu | Tampa, Florida | 33647
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/rushikesh-maheshwari12/">Rushikesh Maheshwari</a>
            </td>
            <td>
                (813)-573-6781 | rmaheshwari@mail.usf.edu | Tampa, Florida | 33613
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/rashmi-chaudhari-790291155/">Rashmi Chaudhari</a>
            </td>
            <td>
                (786)-678-6813 | rc941228@gmail.com | Tampa, Florida | 33613
            </td>
        </tr>
    </tbody>
</table>