@{
    ViewData["Title"] = "Home Page";
}
<!--
    <script src="~/js/slideshow.js">
</script>
    <link rel="stylesheet" href="/css/slideshow.css">

    -->
<!--<body background="/img/pic3WorldMap.jpg">-->

<h2> BullFins 🐮</h2>
<p style="color:blue;">Welcome to BullFins! <br> The most trusted place when it comes to stocks 📉 and tradings  💰 </p>
<h3>Heading</h3>
<p>Content 1</p>


<div class="container">
    <img src="~/img/pic4Bull.jpg" alt="Notebook" style="width:100%;" /> >
</div>
